
@keyframes spin {
  0% { 
    color: rgb(184, 181, 181);
    top: 0%;
  }
  25% { 
    box-shadow: 2rem 2rem .1rem 50rem rgb(161, 156, 156);
    color: rgba(114, 116, 17, 0.2);
    top: 70%;
  }
  50% { 
    color: rgba(0, 0, 0, 0.4);
    top: 48%;
  }
  55% { 
    color: rgba(82, 80, 80, 0.6);
    top: 50%;
  }
}

#pop-up-msg{
  animation: spin 4s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9);
}


