main {
  margin: 4rem;
  padding: 1rem;
}

#title {
  font-size: x-large;
  padding-bottom: 1rem;
  color: rgb(95, 101, 7);
}

h3 {
  color: rgb(111, 119, 9);
  padding-top: 1rem;
}

div {
  padding-block: 0rem 1rem;
}

li {
  list-style-position: inside;
  color: rgb(99, 102, 61);
}

.duties {
  padding-top: .2rem;
}

.company,
.address {
  color: rgb(99, 102, 61);
}

button {
  padding: .5rem;
  cursor: pointer;
  margin-top: 1rem;
  background: none;
  border-radius: 1rem;
  border: solid .2rem rgb(95, 101, 7);
}

#download-btn {
  position: fixed;
  top: 90%;
  left: 80%;
  margin: 0;
  color: #ffffff;
  background: rgb(95, 101, 7);
}

#pop-up-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1rem;
  color: #ffffff;
  font-size: larger;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  background: rgb(95, 94, 94);
}